/* -------------------  MOBILE  --------------------- */
.navbar {
    width: 100%;
    background-color:  rgb(36, 124, 201);
    overflow: auto;
    }
    
    /* Navbar links */
    .navbar a {
      float: left;
      text-align: center;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Navbar links on mouse-over */
    .navbar a:hover {
      background-color: #2117a8;
    }
    
    /* Current/active navbar link */
    .active {
    background-color: #2117a8;
    }
   
  
  .container{
    display: block;
  }
  
  .child1{
    padding-left: 1000px;
    padding-top: 100px;
    background-image: url(https://t4.ftcdn.net/jpg/02/70/99/37/360_F_270993759_z6kFDfVxdPvakuVojRm8WJlklwGuAXd0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .child2{
    margin-left: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 25px;
    line-height: 35px;
  }
  
  .question{
    text-align: center;
    font-size: 30px;
    color: #000205;  
    background-color: #94c9da ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  }
  
  .offers{
    text-align:center;
    color: rgb(22, 2, 2);
    line-height: 30px;
    padding-left: 200px;
    padding-top: 100px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(https://www.softwareone.com/-/media/global/social-media-and-blog/hero/publisher-advisory_get-ready-for-the-office-2010-end-of-support-header.jpg?rev=5496ff43323143be831b8a7922711cf2&sc_lang=en-dk&hash=C2F4C1102F7AEFBED96712F943268E1E);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
    height: 500px;  
  
  }
  .flexContainer{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: space-between; 
    background-color: #94c9da;
  }
  
  .flexContainer a{
    text-decoration: none;
    color: blue;
  }
  /* flexContainer links on mouse-over */
  .flexContainer a:hover{
    background-color: cornflowerblue;
  }
  .divChild{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .divChildItems{
    padding-left: 20px;
    padding-right: 20px;
  }
  /*styling the footer and its items*/
  .footer-container{
    opacity: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: #94c9da;
  }
  .footeritem{
    display: flex;
    flex-direction: row;
  }
  #inputTag{
    margin-right: 50px;
    border: 1px solid rgb(15, 15, 24);
    border-radius: 10px;
  }
  .footeritem a:hover{
    background-color: rgb(98, 160, 194);
    }
  .footer-container h3 {
    color: #6a1256;
    font-size:18px;
  }
  .footer-container ul {
    list-style:none;
    line-height: 20px;
    font-size:14px;
  }
  .footer-container a{
    text-decoration: none;
    color:inherit;
  }
  ::placeholder {
    color: rgb(106, 110, 105);
  }
  .copyright-container {
    background-color: rgb(36, 124, 201);
    display: flex;
    flex-direction:row;
    padding-left: 725px;
    font-size:19px;
  }
  
  .copyright-container ul{
    list-style: none;
  }
  .copyright-container_item{
    display: flex;
    flex-direction:column ;
    color: #305da0;
    justify-content: space-around;
  
  }
  /* -------------------  TABLET  --------------------- */
  @media (min-width: 768px){
    .navbar {
      width: 100%;
      background-color:  rgb(36, 124, 201);
      overflow: auto;
      }
      
      /* Navbar links */
      .navbar a {
        float: left;
        text-align: center;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
      }
      
      /* Navbar links on mouse-over */
      .navbar a:hover {
        background-color: #2117a8;
      }
      
      /* Current/active navbar link */
      .active {
      background-color: #2117a8;
      }
     
    
    .container{
      display: block;
    }
    
    .child1{
      padding-left: 1000px;
      padding-top: 100px;
      background-image: url(https://t4.ftcdn.net/jpg/02/70/99/37/360_F_270993759_z6kFDfVxdPvakuVojRm8WJlklwGuAXd0.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
      font-size: 30px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .child2{
      margin-left: 500px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
      font-size: 25px;
      line-height: 35px;
    }
    
    .question{
      text-align: center;
      font-size: 30px;
      color: #000205;  
      background-color: #94c9da ;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    }
    
    .offers{
      text-align:center;
      color: rgb(22, 2, 2);
      line-height: 30px;
      padding-left: 200px;
      padding-top: 100px;
      font-size: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-image: url(https://www.softwareone.com/-/media/global/social-media-and-blog/hero/publisher-advisory_get-ready-for-the-office-2010-end-of-support-header.jpg?rev=5496ff43323143be831b8a7922711cf2&sc_lang=en-dk&hash=C2F4C1102F7AEFBED96712F943268E1E);
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 90%;
      height: 500px;  
    
    }
    .flexContainer{
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      justify-content: space-between; 
      background-color: #94c9da;
    }
    
    .flexContainer a{
      text-decoration: none;
      color: blue;
    }
    /* flexContainer links on mouse-over */
    .flexContainer a:hover{
      background-color: cornflowerblue;
    }
    .divChild{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    
    .divChildItems{
      padding-left: 20px;
      padding-right: 20px;
    }
    /*styling the footer and its items*/
    .footer-container{
      opacity: 90%;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; 
      background-color: #94c9da;
    }
    .footeritem{
      display: flex;
      flex-direction: row;
    }
    #inputTag{
      margin-right: 50px;
      border: 1px solid rgb(15, 15, 24);
      border-radius: 10px;
    }
    .footeritem a:hover{
      background-color: rgb(98, 160, 194);
      }
    .footer-container h3 {
      color: #6a1256;
      font-size:18px;
    }
    .footer-container ul {
      list-style:none;
      line-height: 20px;
      font-size:14px;
    }
    .footer-container a{
      text-decoration: none;
      color:inherit;
    }
    ::placeholder {
      color: rgb(106, 110, 105);
    }
    .copyright-container {
      background-color: rgb(36, 124, 201);
      display: flex;
      flex-direction:row;
      padding-left: 725px;
      font-size:19px;
    }
    
    .copyright-container ul{
      list-style: none;
    }
    .copyright-container_item{
      display: flex;
      flex-direction:column ;
      color: #305da0;
      justify-content: space-around;
    
    }
    
  }
  /* -------------------  DESKTOP  -------------------- */
  
  @media (min-width: 1224px) {
    .navbar {
      width: 100%;
      background-color:  rgb(36, 124, 201);
      overflow: auto;
      }
      
      /* Navbar links */
      .navbar a {
        float: left;
        text-align: center;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
      }
      
      /* Navbar links on mouse-over */
      .navbar a:hover {
        background-color: #2117a8;
      }
      
      /* Current/active navbar link */
      .active {
      background-color: #2117a8;
      }
     
    
    .container{
      display: block;
    }
    
    .child1{
      padding-left: 1000px;
      padding-top: 100px;
      background-image: url(https://t4.ftcdn.net/jpg/02/70/99/37/360_F_270993759_z6kFDfVxdPvakuVojRm8WJlklwGuAXd0.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
      font-size: 30px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .child2{
      margin-left: 500px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
      font-size: 25px;
      line-height: 35px;
    }
    
    .question{
      text-align: center;
      font-size: 30px;
      color: #000205;  
      background-color: #94c9da ;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    }
    
    .offers{
      text-align:center;
      color: rgb(22, 2, 2);
      line-height: 30px;
      padding-left: 200px;
      padding-top: 100px;
      font-size: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-image: url(https://www.softwareone.com/-/media/global/social-media-and-blog/hero/publisher-advisory_get-ready-for-the-office-2010-end-of-support-header.jpg?rev=5496ff43323143be831b8a7922711cf2&sc_lang=en-dk&hash=C2F4C1102F7AEFBED96712F943268E1E);
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 90%;
      height: 500px;  
    
    }
    .flexContainer{
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      justify-content: space-between; 
      background-color: #94c9da;
    }
    
    .flexContainer a{
      text-decoration: none;
      color: blue;
    }
    /* flexContainer links on mouse-over */
    .flexContainer a:hover{
      background-color: cornflowerblue;
    }
    .divChild{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    
    .divChildItems{
      padding-left: 20px;
      padding-right: 20px;
    }
    /*styling the footer and its items*/
    .footer-container{
      opacity: 90%;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; 
      background-color: #94c9da;
    }
    .footeritem{
      display: flex;
      flex-direction: row;
    }
    #inputTag{
      margin-right: 50px;
      border: 1px solid rgb(15, 15, 24);
      border-radius: 10px;
    }
    .footeritem a:hover{
      background-color: rgb(98, 160, 194);
      }
    .footer-container h3 {
      color: #6a1256;
      font-size:18px;
    }
    .footer-container ul {
      list-style:none;
      line-height: 20px;
      font-size:14px;
    }
    .footer-container a{
      text-decoration: none;
      color:inherit;
    }
    ::placeholder {
      color: rgb(106, 110, 105);
    }
    .copyright-container {
      background-color: rgb(36, 124, 201);
      display: flex;
      flex-direction:row;
      padding-left: 725px;
      font-size:19px;
    }
    
    .copyright-container ul{
      list-style: none;
    }
    .copyright-container_item{
      display: flex;
      flex-direction:column ;
      color: #305da0;
      justify-content: space-around;
    
    }
  
  }
  /* -------------------  LARGE SCREENS  -------------- */
  @media (min-width: 1824px) {
    .navbar {
      width: 100%;
      background-color:  rgb(36, 124, 201);
      overflow: auto;
      }
      
      /* Navbar links */
      .navbar a {
        float: left;
        text-align: center;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
      }
      
      /* Navbar links on mouse-over */
      .navbar a:hover {
        background-color: #2117a8;
      }
      
      /* Current/active navbar link */
      .active {
      background-color: #2117a8;
      }
     
    
    .container{
      display: block;
    }
    
    .child1{
      padding-left: 1000px;
      padding-top: 100px;
      background-image: url(https://t4.ftcdn.net/jpg/02/70/99/37/360_F_270993759_z6kFDfVxdPvakuVojRm8WJlklwGuAXd0.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
      font-size: 30px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .child2{
      margin-left: 500px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
      font-size: 25px;
      line-height: 35px;
    }
    
    .question{
      text-align: center;
      font-size: 30px;
      color: #000205;  
      background-color: #94c9da ;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    }
    
    .offers{
      text-align:center;
      color: rgb(22, 2, 2);
      line-height: 30px;
      padding-left: 200px;
      padding-top: 100px;
      font-size: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-image: url(https://www.softwareone.com/-/media/global/social-media-and-blog/hero/publisher-advisory_get-ready-for-the-office-2010-end-of-support-header.jpg?rev=5496ff43323143be831b8a7922711cf2&sc_lang=en-dk&hash=C2F4C1102F7AEFBED96712F943268E1E);
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 90%;
      height: 500px;  
    
    }
    .flexContainer{
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      justify-content: space-between; 
      background-color: #94c9da;
    }
    
    .flexContainer a{
      text-decoration: none;
      color: blue;
    }
    /* flexContainer links on mouse-over */
    .flexContainer a:hover{
      background-color: cornflowerblue;
    }
    .divChild{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    
    .divChildItems{
      padding-left: 20px;
      padding-right: 20px;
    }
    /*styling the footer and its items*/
    .footer-container{
      opacity: 90%;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; 
      background-color: #94c9da;
    }
    .footeritem{
      display: flex;
      flex-direction: row;
    }
    #inputTag{
      margin-right: 50px;
      border: 1px solid rgb(15, 15, 24);
      border-radius: 10px;
    }
    .footeritem a:hover{
      background-color: rgb(98, 160, 194);
      }
    .footer-container h3 {
      color: #6a1256;
      font-size:18px;
    }
    .footer-container ul {
      list-style:none;
      line-height: 20px;
      font-size:14px;
    }
    .footer-container a{
      text-decoration: none;
      color:inherit;
    }
    ::placeholder {
      color: rgb(106, 110, 105);
    }
    .copyright-container {
      background-color: rgb(36, 124, 201);
      display: flex;
      flex-direction:row;
      padding-left: 725px;
      font-size:19px;
    }
    
    .copyright-container ul{
      list-style: none;
    }
    .copyright-container_item{
      display: flex;
      flex-direction:column ;
      color: #305da0;
      justify-content: space-around;
    
    }
  
  }
  
  